p{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: orange;
	font-size: 20px
}

h1{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: orange;
}

body{
	background-image: url("beauty.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% auto
}