p{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: hotpink;
	font-size: 20px
}

h1{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: hotpink;
}

body{
	background-image: url("feeling.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:  100% auto;
}