p{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: white;
	font-size: 20px
}

h1{
	font-family: "Brush Script MT Italic";
	text-align: center;
	color: white;
}

body{
	background-image: url("secret.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:  100% auto;
	background-color: black;
}