p{
	font-family: "Brush Script MT Italic";
	text-align: left-side;
	color: black;
	font-size: 20px
}

h1{
	font-family: "Brush Script MT Italic";
	text-align: left-side;
	color: black;
}

body{
	background-image: url("trust.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size:  100% auto;
}